@using Sched.Models;
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @Html.Action("_WorkOrdersPartial", "WorkOrders")
</div>
<div class="row">
    <div class="col-md-4">
        @Html.Action("_ReccomendationsPartial", "Recommendations", new WOHeader { customer_number = 1, job_type = 2, word_order_id = 23 })
    </div>
</div>