@model Sched.Models.Recommendations

@{
    ViewBag.Title = "Reccomendations";
}

<h2>Reccomendations</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var recommendations in Model.allTechnicians) {
    <tr>
        <td>
        </td>
    </tr>
}

</table>
