@model Sched.Models.Display

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@*@using(Html.BeginForm())
{
    <div class="form-horizontal">
       <div class="label">
           <label>job</label>
           @Html.DropDownList("test")
       </div>
    </div>
    Username: 
       Password: < input type = "text" name = "password" /> < br />


          <input type = "submit" value = "Login" >


             < input type = "submit" value = "Create Account" />
                }*@

<form method="post" action="@Url.Action("CreateWorkOrder","Display")">
    <label>StartDate</label>
    <input class="form-control" type="datetime-local" id="minimum" name="minimum" />
    <label>EndDate</label>
    <input class="form-control" type="datetime-local" id="maximum" name="maximum" />

    <label>job</label>
    <input class="form-control" type="radio" id="job" name="job"/>
    <label>priority</label>
    <input class="form-control" type="radio" id="priority" name="priority" />
    <label>workArea</label>
    <input class="form-control" type="radio" id="workArea" name="workArea" />
    <label>status</label>
    <input class="form-control" type="radio" id="status" name="status" />
    <label>address</label>
    <input class="form-control" type="text" id="address" name="address" />
    <label>postalCode</label>
    <input class="form-control" type="text" id="postalCode" name="postalCode" />
    <label>estimatedTime</label>
    <input class="form-control" type="number" id="estimatedTime" name="estimatedTime" />
    <input class="form-control"type="submit" value="submit" />
    

</form>
